@using EquipmentApplication.Areas.Identity.Pages.Account;
@using EquipmentApplication.Areas.Identity.Pages.Models;
<h3>Register</h3>

@code {
    [Parameter] public RegisterModel register { get; set; } = new RegisterModel();
}
