@inherits LayoutComponentBase

<PageTitle>EquipmentApplication</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <a href="/Identity/Account/Logout" target="_blank">Выйти</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="/Identity/Account/Login" target="_blank">Войти</a>
                    <a href="/Identity/Account/Register" target="_blank">Зарегистрироваться</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
